<!doctype html>

<html lang="de">
<head>
    <meta charset="utf-8">

    <title>Foto-Seite</title>
    <meta name="description" content="Foto-Seite">
    <meta name="author" content="Philine und Alexander Schiewe">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
